:root {
  color-scheme: light dark;
  --color-accent: oklch(80.27% 0.082 224.21); 
}

body {
  background-color: Canvas;
  color: CanvasText;

  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  width: 300px;
  display: block;
}

/* Navigation bar */
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

/* Navigation link */
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  transition: background-color 0.3s, border-bottom 0.3s;
}

/* Hover effect */
nav a:hover {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-radius: 4px;
}

/* current page */
nav a.current {
  font-weight: bold;
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;  
  gap: 1em;
}

label {
  display: grid; 
  grid-template-columns: subgrid; 
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}


.projects {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid; 
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Resume Grid Layout */
.resume {
  display: grid;
  gap: 1.5em;
  padding: 1em;
}

.resume section {
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.resume h1 {
  background-color: var(--color-accent);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}


.resume ul {
  padding-left: 1.5em;
}

.resume ul li {
  margin-bottom: 0.5em;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}
